
$icon-arrowUp: "\EA01" !default;

$icon-codepen: "\EA02" !default;

$icon-fc: "\EA03" !default;

$icon-github: "\EA04" !default;

$icon-linkedin: "\EA05" !default;

$icon-logo: "\EA06" !default;

$icon-mail: "\EA07" !default;

$icon-mobile: "\EA08" !default;

$icon-skype: "\EA09" !default;

$icon-vk: "\EA0A" !default;