
$icon-arrowUp: "\EA01" !default;

$icon-codepen: "\EA02" !default;

$icon-fc: "\EA03" !default;

$icon-github: "\EA04" !default;

$icon-linkedin: "\EA05" !default;

$icon-mail: "\EA06" !default;

$icon-mobile: "\EA07" !default;

$icon-vk: "\EA08" !default;