<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/app.css">
      <script src="js/app.js"></script>
  </head>
  <body>
    <div class="row collapse"><!-- main row -->

      <div class="small-1 columns"><!-- vertical tabs -->
        <ul class="tabs vertical vertical_settings" id="example-vert-tabs" data-tabs>
          <li class="tabs-logo">
              <a href="#">
                  <span >2</span>
              </a>
          </li>
          <li class="tabs-title is-active">
              <a href="#panel1v" aria-selected="true">Board
                  <i class='icon -dashboard'></i>
              </a>
          </li>
          <li class="tabs-title">
              <a href="#panel2v">Projects
                  <i class='icon -menu'></i>
                  <span>9</span>
              </a>
          </li>
          <li class="tabs-title settings--height">
              <a href="#panel3v">Settings 
                  <i class='icon -sheeel'></i>
              </a>
          </li>

          <li class="tabs-title">
              <a href="#panel4v">Upgrade 
                  <i class='icon -atom'></i>
                  <span>3</span>
              </a>
          </li>
          <li class="tabs-title">
              <a href="#panel5v">Logout 
                  <i class='icon -off'></i>
              </a>
          </li>
        </ul>
      </div><!-- end vertical tabs -->

      <div class="small-11 columns"><!-- content of tabs -->
        <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
          <div class="tabs-panel pad--zero is-active" id="panel1v">
            <div class="tabs-panel_header clearfix"><!-- header of first tab 'board' -->
              <a href="#" class="tabs-panel_title">Dashboard
                <span class='icon -reload tabs-panel_reload'></span>
              </a>

              <div class='select--tabs float-right'>
                <a href="#" class="" >
                  <span class='icon -arrow color--green select-tabs_arrow'></span>
                </a>
                  <select name="" id="">
                      <option value="default">5 user online</option>
                      <option value="Nick">Nick</option>
                      <option value="Olga">Olga</option>
                      <option value="Arsen">Arsen</option>
                      <option value="Marina">Marina</option>
                      <option value="Yura">Yura</option>
                  </select>
              </div>
            </div><!-- end header of first tab 'board' -->
            <ul class="tabs horizotal--tabs" data-tabs id="example-tabs"><!-- horizontal tabs -->
                <li class="tabs-title is-active">
                    <a href="#panel1" class='horizontal-tabs_item' aria-selected="true">Active Projects
                        <i class='icon -time'></i>
                        <span>9</span>
                    </a>
                </li>
                <li class="tabs-title">
                    <a href="#panel2" class='horizontal-tabs_item'>Messanger
                        <i class='icon -plain'></i>
                        <span>2</span>
                    </a>
                </li>
                <li class="tabs-title">
                    <a href="#panel3" class='horizontal-tabs_item'>Search Project, User, Task, etc...</a>
                </li>
            </ul><!-- end horizontal tabs -->
            <div class="tabs-content tabs-content_fixpadding" data-tabs-content="example-tabs">
                <div class="tabs-panel is-active" id="panel1">
                  <div class="row collapse">
                    <div class="small-8 columns">
                      <div class='accordion-top'><!-- top accordion -->
                        <div class='row collapse'>
                             <div class='small-7 columns'>
                               <input type="text" placeholder="Search a Project with Name, Task, User...">
                             </div>
                               <div class='select--tabs float-right'>
                                  <a href="#" class="" >
                                      <span class='icon -plus select-tabs_plus'></span>
                                  </a>
                                  <select name="" id="">
                                     <option default="new">New Project(descending)</option>
                                     <option value="old">Old Project(accending)</option>
                                     <option value="Vanya">Vanya's Project</option>
                                     <option value="Marina">Marina's Project</option>
                                 </select>
                               </div>
                        </div>
                      </div><!--end top  accordion -->

                      <ul class="accordion dashboard-accordion" data-accordion role="tablist"><!-- accordion -->

                          <li class="accordion-item">
                              <a href="#panel1d" role="tab" class="accordion-title fixed--arrow" id="panel1d-heading" aria-controls="panel1d">
                                  <span class='accordion-item_percent'>23%</span>
                                  Create Contact Formular
                                  <span class='accordion-item_title'>worlda</span>
                              </a>
                              <div id="panel1d" class="accordion-content pad--zero" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                                  <div class="accordion-content_create clearfix">
                                      <span class='content-create_span float-left'>66%</span>
                                      <div class='content-create_text float-left'>Creating Context</div>
                                      <div class="accordion_text">
                                          <a href="" class='accordion_data'>today,13:40pm</a>
                                          <span class='accordion-create_user user--plus'>+3</span>
                                          <span class='accordion-create_user status--offline'></span>
                                          <span class='accordion-create_user status--online'></span>
                                          <span class='accordion-create_user status--online'></span>
                                      </div>
                                  </div>
                                  <div class="accordion-content_ready clearfix">
                                      <span class='content-ready_span float-left'>ready</span>
                                      <div class='content-ready_text float-left'>Implementation in the Layout</div>
                                      <div class="accordion_text">
                                          <a href="" class='accordion_data'>yesterday,12:40pm</a>
                                          <span class='accordion-ready_user status--offline'></span>
                                          <span class='accordion-ready_user status--online'></span>
                                      </div>
                                  </div>
                              </div>
                          </li>

                          <li class="accordion-item">
                              <a href="#panel1d" role="tab" class="accordion-title fixed--arrow" id="panel1d-heading" aria-controls="panel1d">
                                  <span class='accordion-item_percent'>87%</span>
                                  Create Subpage PSD
                                  <span class='accordion-item_title'>panorama</span>
                              </a>
                              <div id="panel1d" class="accordion-content pad--zero" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                                  <div class="accordion-content_create clearfix">
                                      <span class='content-create_span float-left'>66%</span>
                                      <div class='content-create_text float-left'>Creating Context</div>
                                      <div class="accordion_text">
                                          <a href="" class='accordion_data'>today,13:40pm</a>
                                          <span class='accordion-create_user user--plus'>+3</span>
                                          <span class='accordion-create_user status--offline'></span>
                                          <span class='accordion-create_user status--online'></span>
                                          <span class='accordion-create_user status--online'></span>
                                      </div>
                                  </div>
                                  <div class="accordion-content_ready clearfix">
                                      <span class='content-ready_span float-left'>ready</span>
                                      <div class='content-ready_text float-left'>Implementation in the Layout</div>
                                      <div class="accordion_text">
                                          <a href="" class='accordion_data'>yesterday,12:40pm</a>
                                          <span class='accordion-ready_user status--offline'></span>
                                          <span class='accordion-ready_user status--online'></span>
                                      </div>
                                  </div>
                              </div>
                          </li>

                          <li class="accordion-item">
                              <a href="#panel1d" role="tab" class="accordion-title fixed--arrow" id="panel1d-heading" aria-controls="panel1d">
                                  <span class='accordion-item_percent'>83%</span>
                                  Layout & implementation in HTML & CSS
                                  <span class='accordion-item_title'>ebay relaunch</span>
                              </a>
                              <div id="panel1d" class="accordion-content pad--zero" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                                  <div class="accordion-content_create clearfix">
                                      <span class='content-create_span float-left'>66%</span>
                                      <div class='content-create_text float-left'>Creating Context</div>
                                      <div class="accordion_text">
                                          <a href="" class='accordion_data'>today,13:40pm</a>
                                          <span class='accordion-create_user user--plus'>+3</span>
                                          <span class='accordion-create_user status--offline'></span>
                                          <span class='accordion-create_user status--online'></span>
                                          <span class='accordion-create_user status--online'></span>
                                      </div>
                                  </div>
                                  <div class="accordion-content_ready clearfix">
                                      <span class='content-ready_span float-left'>ready</span>
                                      <div class='content-ready_text float-left'>Implementation in the Layout</div>
                                      <div class="accordion_text">
                                          <a href="" class='accordion_data'>yesterday,12:40pm</a>
                                          <span class='accordion-ready_user status--offline'></span>
                                          <span class='accordion-ready_user status--online'></span>
                                      </div>
                                  </div>
                              </div>
                          </li>

                           <li class="accordion-item">
                              <a href="#panel1d" role="tab" class="accordion-title fixed--arrow" id="panel1d-heading" aria-controls="panel1d">
                                  <span class='accordion-item_percent'>23%</span>
                                  Lorem ipsum dolor sit amet, consectetur <br>
                                   adipisicing elit. quisquam aliquam 
                                   <span class='accordion-item_title'>panarama</span>
                              </a>
                              <div id="panel1d" class="accordion-content pad--zero" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                                  <div class="accordion-content_create clearfix">
                                      <span class='content-create_span float-left'>66%</span>
                                      <div class='content-create_text float-left'>Creating Context</div>
                                      <div class="accordion_text">
                                          <a href="" class='accordion_data'>today,13:40pm</a>
                                          <span class='accordion-create_user user--plus'>+3</span>
                                          <span class='accordion-create_user status--offline'></span>
                                          <span class='accordion-create_user status--online'></span>
                                          <span class='accordion-create_user status--online'></span>
                                      </div>
                                  </div>
                                  <div class="accordion-content_ready clearfix">
                                      <span class='content-ready_span float-left'>ready</span>
                                      <div class='content-ready_text float-left'>Implementation in the Layout</div>
                                      <div class="accordion_text">
                                          <a href="" class='accordion_data'>yesterday,12:40pm</a>
                                          <span class='accordion-ready_user status--offline'></span>
                                          <span class='accordion-ready_user status--online'></span>
                                      </div>
                                  </div>
                              </div>
                          </li>

                           <li class="accordion-item">
                              <a href="#panel1d" role="tab" class="accordion-title fixed--arrow" id="panel1d-heading" aria-controls="panel1d">
                                  <span class='accordion-item_percent'>98%</span>
                                  Create Contact Formular
                                  <span class='accordion-item_title'>worlda</span>
                              </a>
                              <div id="panel1d" class="accordion-content pad--zero" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                                  <div class="accordion-content_create clearfix">
                                      <span class='content-create_span float-left'>66%</span>
                                      <div class='content-create_text float-left'>Creating Context</div>
                                      <div class="accordion_text">
                                          <a href="" class='accordion_data'>today,13:40pm</a>
                                          <span class='accordion-create_user user--plus'>+3</span>
                                          <span class='accordion-create_user status--offline'></span>
                                          <span class='accordion-create_user status--online'></span>
                                          <span class='accordion-create_user status--online'></span>
                                      </div>
                                  </div>
                                  <div class="accordion-content_ready clearfix">
                                      <span class='content-ready_span float-left'>ready</span>
                                      <div class='content-ready_text float-left'>Implementation in the Layout</div>
                                      <div class="accordion_text">
                                          <a href="" class='accordion_data'>yesterday,12:40pm</a>
                                          <span class='accordion-ready_user status--offline'></span>
                                          <span class='accordion-ready_user status--online'></span>
                                      </div>
                                  </div>

                              </div>
                          </li>

                           <li class="accordion-item">
                              <a href="#panel1d" role="tab" class="accordion-title fixed--arrow" id="panel1d-heading" aria-controls="panel1d">
                                  <span class='accordion-item_percent'>98%</span>
                                  Create Contact Formular
                                  <span class='accordion-item_title'>worlda</span>
                              </a>
                              <div id="panel1d" class="accordion-content pad--zero" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                                  <div class="accordion-content_create clearfix">
                                      <span class='content-create_span float-left'>66%</span>
                                      <div class='content-create_text float-left'>Creating Context</div>
                                      <div class="accordion_text">
                                          <a href="" class='accordion_data'>today,13:40pm</a>
                                          <span class='accordion-create_user user--plus'>+3</span>
                                          <span class='accordion-create_user status--offline'></span>
                                          <span class='accordion-create_user status--online'></span>
                                          <span class='accordion-create_user status--online'></span>
                                      </div>
                                  </div>
                                  <div class="accordion-content_ready clearfix">
                                      <span class='content-ready_span float-left'>ready</span>
                                      <div class='content-ready_text float-left'>Implementation in the Layout</div>
                                      <div class="accordion_text">
                                          <a href="" class='accordion_data'>yesterday,12:40pm</a>
                                          <span class='accordion-ready_user status--offline'></span>
                                          <span class='accordion-ready_user status--online'></span>
                                      </div>
                                  </div>

                              </div>
                          </li>

                           <li class="accordion-item">
                              <a href="#panel1d" role="tab" class="accordion-title fixed--arrow" id="panel1d-heading" aria-controls="panel1d">
                                  <span class='accordion-item_percent'>98%</span>
                                  Create Contact Formular
                                  <span class='accordion-item_title'>worlda</span>
                              </a>
                              <div id="panel1d" class="accordion-content pad--zero" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                                  <div class="accordion-content_create clearfix">
                                      <span class='content-create_span float-left'>66%</span>
                                      <div class='content-create_text float-left'>Creating Context</div>
                                      <div class="accordion_text">
                                          <a href="" class='accordion_data'>today,13:40pm</a>
                                          <span class='accordion-create_user user--plus'>+3</span>
                                          <span class='accordion-create_user status--offline'></span>
                                          <span class='accordion-create_user status--online'></span>
                                          <span class='accordion-create_user status--online'></span>
                                      </div>
                                  </div>
                                  <div class="accordion-content_ready clearfix">
                                      <span class='content-ready_span float-left'>ready</span>
                                      <div class='content-ready_text float-left'>Implementation in the Layout</div>
                                      <div class="accordion_text">
                                          <a href="" class='accordion_data'>yesterday,12:40pm</a>
                                          <span class='accordion-ready_user status--offline'></span>
                                          <span class='accordion-ready_user status--online'></span>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul> <!--end accordion -->
                      <div class="accordion-bottom"><a href="#" class='accordion-bottom_archiv'>Project Archiv</a></div><!-- bottom accordion -->
                    </div>

                    <div class="small-4 columns">


                         <ul class="list-users"><!-- list user -->
                             <li class='list-user_info'>
                                <p class="list-user_item">
                                    <strong class='list-users_name'>Mark P.</strong>add an image into Worlda <br>
                                <span class="list-user_data">today, 10:30PM</span>
                                </p>
                            </li>
                             <li class='list-user_info'>
                                <p class="list-user_item">
                                    <strong class='list-users_name'>Marvin S.</strong>add an image into Worlda <br>
                                <span class="list-user_data">today, 10:30PM</span>
                                </p>
                            </li>
                             <li class='list-user_info status--offline'>
                                <p class="list-user_item">
                                    <strong class='list-users_name'>Sebastian K.</strong>add an image into Worlda <br>
                                <span class="list-user_data">today, 10:30PM</span>
                                </p>
                            </li>
                             <li class='list-user_info'>
                                <p class="list-user_item">
                                    <strong class='list-users_name'>Mark P.</strong>add an image into Worlda <br>
                                <span class="list-user_data">today, 10:30PM</span>
                                </p>
                            </li>
                             <li class='list-user_info'>
                                <p class="list-user_item">
                                    <strong class='list-users_name'>Philip O.</strong>add an image into Worlda <br>
                                <span class="list-user_data">today, 10:30PM</span>
                                </p>
                            </li>
                             <li class='list-user_info'>
                                <p class="list-user_item">
                                    <strong class='list-users_name'>Mark P.</strong>add an image into Worlda <br>
                                <span class="list-user_data">today, 10:30PM</span>
                                </p>
                            </li>
                             <li class='list-user_info'>
                                <p class="list-user_item">
                                    <strong class='list-users_name'>Benni I.</strong>add an image into Worlda <br>
                                <span class="list-user_data">today, 10:30PM</span>
                                </p>
                            </li>
                             <li class='list-user_info'>
                                <p class="list-user_item">
                                    <strong class='list-users_name'>Benni I.</strong>add an image into Worlda <br>
                                <span class="list-user_data">today, 10:30PM</span>
                                </p>
                            </li>
                             <li class='list-user_info'>
                                <p class="list-user_item">
                                    <strong class='list-users_name'>Benni I</strong>add an image into Worlda <br>
                                <span class="list-user_data">today, 10:30PM</span>
                                </p>
                            </li>
                             <li class='list-user_info'>
                                <p class="list-user_item">
                                    <strong class='list-users_name'>Benni I</strong>add an image into Worlda <br>
                                <span class="list-user_data">today, 10:30PM</span>
                                </p>
                            </li>
                        </ul><!-- end list user -->
                        <div class="accordion-bottom"><a href="#" class='accordion-bottom_archiv'>Project Archiv</a></div><!-- bottom list user -->
                    </div>
                  </div>
                </div>
                <div class="tabs-panel" id="panel2">
                  <p>Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
                </div>
            </div>
          </div>
          <div class="tabs-panel" id="panel2v">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <h1>This is p panel TWO</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ducimus praesentium harum sit nemo quos enim dolorum molestias beatae magnam delectus, tenetur autem! Esse nam, quibusdam animi similique, nesciunt odit.</p>
          </div>

          <div class="tabs-panel" id="panel3v">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <h2>Panel THREE</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum vel quia, corporis alias eligendi aliquam quod nisi, distinctio amet, quo rem possimus voluptatum in soluta! Eius facilis minima veritatis numquam.</p>
          </div>

          <div class="tabs-panel" id="panel4v">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tempora laboriosam maxime, minima repellat quia. Molestiae animi minima nisi sed ducimus, totam unde officiis reiciendis fugit aperiam, mollitia consectetur illum.</p>
            </div>
          </div>

          <div class="tabs-panel" id="panel5v">
            <p>Are you shure?</p>
            <a class="alert button" href="#">Exit</a>
          </div>

        </div>
      </div><!--end content of tabs -->
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
