.about {
  background: transparent;
  height: $global-height-screen;
  overflow: hidden;
  padding-top: 100px;
  position: relative;
  width: $global-size;
  z-index: 10;
  @media only screen and (max-width: $screen-phone) {
    padding-top: 70px;
    height: auto;
    padding-bottom: 50px;
  }

  &:after,
  &:before {
    background: $global-black;
    content: '';
    height: $global-size;
    opacity: .9;
    position: absolute;
    top: 0;
    transition: all .5s linear;
    width: $global-size;
    z-index: -10;
  }

  &:after {
    left: 0;
    top: -$global-size;
  }

  &:before {
    right: 0%;
    top: $global-size;
  }
}

.about.--active {
  &:after {
    transform: translateY($global-size) translateX($global-half-size) rotate(180deg);
  }
  &:before {
    transform: translateY(-$global-size) translateX(-$global-half-size) rotate(180deg);
  }
}

.about__list-item {
  border-bottom: 1px solid $global-grey;
  color: $global-white;
  list-style: none;
  overflow: hidden;
  padding: 5px;
  position: relative;
  @media only screen and (max-width: $screen-phone) {
    font-size: .6rem;
  }

  &:after {
    content: '';
    height: $global-size;
    left: -$global-size;
    position: absolute;
    transition: all .5s ease-in-out;
    width: $global-size;
    z-index: -5;
  }
  &:hover {
    &:after {
      background: $color-hover-li;
      left: 0;
      opacity: .5;
    }
  }
}
.about__list-span {
  font-size: $about-span-size;
  margin-left: $about-span-size;
  text-transform: capitalize;
  font-family: 'Indie Flower', cursive;
  @media only screen and (max-width: $screen-phone) {
    font-size: $about-span-size-mob;
    margin-left: $about-span-size-mob;
    color: $color-hover-li;
  }
}