.header {
	background: $global-black;
	opacity: .8;
	padding: 20px 0 0;
	position: fixed;
	width: $global-size;
	z-index: 100;
	overflow: hidden;

	&__logo {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 3rem;
	}
}

.-logo:before {
	position: absolute;
	text-decoration: none;
	top: 50%;
	transform: translateY(10px);
	font-size: 3rem;
	color: $global-white;
	@media only screen and (max-width: $screen-phone) {
			font-size: 2rem;
			left: 10px;
		}
}

.header__social-item,
.header__nav-item,
.footer__social-item,
.footer__nav-item {
	display: inline-block;
	line-height: $header-line-height;
	@media only screen and (max-width: $screen-phone) {
		line-height: 20px;
	}
}

.header__social-link,
.header__nav-link,
.footer__social-link,
.footer__nav-link {
	color: $global-white;
	text-transform: uppercase;
	font-size: 1.1rem;
	margin-right: 1.1rem;
	text-decoration: none;
	&:hover {
		color: $global-grey;
	}
	@media only screen and (max-width: $screen-phone) {
		font-size: .8rem;
	}
}

.header__nav-link.--active,
.footer__nav-link.--active {
	border-bottom: 1px solid $color-hover-li;
	color: $color-hover-li;
}

.header__social,
.footer__social {
	float: right;
}