.info {
	background-color: rgba(230,230,230, .7);
	background-image: url(../../../dist/assets/img/avka.jpg),
										url(../../../dist/assets/img/platform.svg);
	background-position: 50% 50%, 50% 85%;
	background-repeat: no-repeat;
	background-size: 20%, 30%;
	height: $global-height-screen;
	overflow: hidden;
	padding-top: 70px;
	position: relative;
	z-index: 2;
	@media only screen and (max-width: $screen-phone) {
		background-position: 50% 55%, 50% 80%;
		background-size: 40%, 60%;
		&:after,
		&:before {
			display: none;
		}
	}

}

.info:after,
.info:before {
	animation: bgslide 40s infinite linear;
	background-image: url(../../../dist/assets/img/html-5.svg),
										url(../../../dist/assets/img/js-5.svg),
										url(../../../dist/assets/img/css-3.svg),
										url(../../../dist/assets/img/angular.svg);
	background-position: 50% 0vw, 30% 50%, 50% $global-size, 70% 50%;
	background-repeat: no-repeat;
	background-size: 10%;
	content: '';
	height: $global-size;
	left: 0;
	position: absolute;
	top: 0;
	width: $global-size;
	z-index: -1;
}

.info:before {
	animation: bgslide-rew 55s infinite linear;
	// transform: rotate(180deg);
}