$global-font-icon: 'favorite';
$global-white: #fff;
$global-grey: #ccc;
$global-black: #000;
$contact-color: #48acdb;
$global-size: 100%;
$global-half-size: 50%;
$global-height-screen: 100vh;
$color-hover-li: #c40000;
$arrow-pos: 10px;
$header-line-height: 40px;
$about-span-size: 2.5rem;
$about-span-size-mob: 1.2rem;

$screen-phone: 640px;
$screen-desktop: 1024px;