$global-font-icon: 'favorite';
$global-white: #fff;
$global-grey: #ccc;
$global-black: #000;
$global-size: 100%;
$global-height-screen: 100vh;
$color-hover-li: #c40000;
$arrow-pos: 10px;
$header-line-height: 80px;

$screen-phone: 640px;
$screen-desktop: 1024px;