.work,
.work-portfolio {
  background-color: rgba(200,200,200, .7);
  height: $global-height-screen;
  overflow: hidden;
  padding-top: 100px;
  &__title {
    text-transform: capitalize;
  }
  @media only screen and (max-width: $screen-phone) {
    height: auto;
    padding-bottom: 20px;
  }
}
.work-portfolio {
  height: auto;
  padding-bottom: 70px;
}
.work__block,
.work-portfolio__block {
  margin-left: 0;
}

.work__block-item,
.work-portfolio__block-item {
  border-radius: 5px;
  border: 1px solid ($global-grey - 50%);
  list-style: none;
  margin-bottom: 20px;
  padding: 5px;
  text-transform: capitalize;
}

.work__block-link,
.work-portfolio__block-link {
  display: block;
  height: 300px;
  width: $global-size;
  border-radius: 5px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-link {
  background-image: url(../../../dist/assets/img/diagrams.png);
}
.second-link {
  background-image: url(../../../dist/assets/img/form-2.png);
}
.third-link {
  background-image: url(../../../dist/assets/img/phonecat.png);
}
.fourth-link {
  background-image: url(../../../dist/assets/img/kit.png);
}
.fiveth-link {
  background-image: url(../../../dist/assets/img/math-2.png);
}
.sixth-link {
  background-image: url(../../../dist/assets/img/liga.png);
}
.seven-link {
  background-image: url(../../../dist/assets/img/astound-2.png);
}
.eight-link {
  background-image: url(../../../dist/assets/img/dash.png);
}
.nine-link {
  background-image: url(../../../dist/assets/img/alternate.png);
}