
$icon-arrow: "\EA01" !default;

$icon-atom: "\EA02" !default;

$icon-chats: "\EA03" !default;

$icon-checking: "\EA04" !default;

$icon-dashboard: "\EA05" !default;

$icon-menu: "\EA06" !default;

$icon-off: "\EA07" !default;

$icon-plain: "\EA08" !default;

$icon-plus: "\EA09" !default;

$icon-points: "\EA0A" !default;

$icon-reload: "\EA0B" !default;

$icon-reload2: "\EA0C" !default;

$icon-sheeel: "\EA0D" !default;

$icon-time: "\EA0E" !default;

$icon-zoom: "\EA0F" !default;