
.vertical_settings {
	background: url(../img/bg.gif) repeat-y;
	text-align: center;
 }

.tabs-logo {
	height: 165px;
	position: relative;
}

.settings--height {
	height: 480px;
}

.tabs-logo a  {
	position: absolute;
	display: block;
	top: 25px;
	left: 15%;
	width: 90px;
	height: 90px;
	border-radius: $global-border-radius;
	background: url("../img/logo-chat.jpg") 62% 2% no-repeat;
}

.tabs-title {
	position: relative;
}

a span,
.tabs-logo span {
	position: absolute;
	top: -5px;
	height: $line-height;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	line-height: $line-height;
	color: $white;
	background: $global-color_red;
	border-radius: $global-border-radiusSpan;
}

.-menu + span {
	top: 0;
	right: 20px;
	background: $dark-gray + 40%;
}

.-atom + span {
	top: 0;
	right: 20px;
}

.vertical_settings .tabs-title:not(:last-of-type) {
	margin-bottom: 20px;
}

.vertical_settings .tabs-title a {
	height: 115px;
	color: $global-color_disselect +50%;
	transition: all .2s;
	padding-top: 70px;
	font-size: $global-font-size;
	font-weight: bold;
}

.vertical_settings .tabs-title:last-of-type {
	padding-bottom: 15px;
}

[href^="#"] i {
	font-style: normal;
	font-weight: normal;
}

.vertical_settings .tabs-title:hover a,
.vertical_settings .tabs-title [aria-selected='true'] {
	border-left: 4px solid $global-color_red;
	background: none;
	color: $white;
}

.vertical_settings .tabs-title [aria-selected='true'] i:before {
	color: $global-color_red;
}
.vertical_settings .tabs-title:not(:nth-of-type(5)):before {
	content: '';
	position: absolute;
	top: -20px;
	left: 50%;
	width: 5px;
	height: 5px;
	background: $global-color_disselect;
	border-radius: 50%;
	box-shadow: 10px 0 0 0px $global-color_disselect, -10px 0 0 0px $global-color_disselect;
}


